<div class="container">
    <div class="p-grid">
  
      <div class="p-col-12">
        <h1>Pesquisar Casamento</h1>
      </div>
  
      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <input pInputText type="text">
      </div>
     
      <br/>
        <div class="p-grid-12">
        <label style="display: block">Período</label>
        <input pInputText type="text" style="width: 95px">
        
        <label class="label"> até </label>
        <input pInputText type="text" style="width: 95px">
      </div>
      
      <br/>
      <div class="p-col-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
  
    <br/>
 
   <!--<app-pesquisa-grid [registroCasamento]=registroCasamento></app-pesquisa-grid>--> 
    </div>

    <div class="p-col-12">
      <button pButton type="submit" label="Cadastrar Pessoa"></button>
    </div>

  </div>
  
  
  