<p-toast></p-toast>
<div class="container" style="max-width: 400px; margin: auto">
    <div class="card-container" style="padding: 10px 0 10px;">
        <div class="p-grid box shadow-5 m-1" style="padding: 20px;">
                   
           <!--{{ getAuth().jwtPayload | json}}--> 
            <form autocomplete="off" #loginForm="ngForm">
                    
                    <div class="formgrid grid">
                
                        <div class="field col-12 ">
                        <h1>Login</h1>
                        </div>
                
                        <div class="field col-12 p-fluid">
                        <input pInputText type="email" name="usuario" placeholder="E-mail"
                            ngModel required #usuario>
                        </div>
                
                        <div class="field col-12 p-fluid">
                        <input pInputText type="password" name="senha" placeholder="Senha"
                            ngModel required #senha>
                        </div>
                
                        <div class="field col-12">
                        <button pButton type="submit" label="Login" [disabled]="loginForm.invalid"
                            (click)="login(usuario.value, senha.value); senha.value=''"></button>
                        </div>
                
                    </div>
            </form>
        </div>
    </div>
</div>