<div class="container" >
    <form autocomplete="off">
        <div>
            <h1>Cadastro Pessoa</h1>
        </div>
                <div class="formgrid grid">
                  
                        <div class="field col-12">
                            <label for="firstname">Nome</label>
                            <input id="firstname" type="text" pInputText class="inputfield w-full"> 
                        </div>

                        <div class="field col-9">
                            <label for="lastname">Logradouro</label>
                            <input id="lastname" type="text" pInputText class="inputfield w-full"> 
                        </div> 

                        <div class="field col-3">
                            <label for="firstname">Número</label>
                            <input id="firstname" type="text" pInputText class="inputfield w-full"> 
                        </div>
    
                        <div class="field col-4 sm:col">
                            <label>Complemento</label>
                            <input type="text" pInputText class="inputfield w-full"> 
                        </div> 

                        <div class="field col-4">
                            <label>Bairro</label>
                            <input type="text" pInputText class="inputfield w-full"> 
                        </div> 

                        <div class="field col-4 p-fluid">
                            <label>CEP</label>
                            <p-inputMask mask="99999-999" class="inputfield w-full"></p-inputMask>
                        </div> 
    
                        <div class="field col-6 ">
                            <label for="lastname">Cidade</label>
                            <input id="lastname" type="text" pInputText class="inputfield w-full"> 
                        </div> 

                        <div class="field col-6">
                            <label for="lastname">Estado</label>
                            <input id="lastname" type="text" pInputText class="inputfield w-full"> 
                        </div> 
                </div>

                <div>
                    <button pButton type="submit" label="Salvar"></button>
                    <button pButton type="button" label="Novo" class="p-button-info"></button>
                    <a href="javascript:;">voltar para pesquisa</a>
                </div>

    </form>
</div>